<div class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand">Motious Demo</a>
		</div>
		<div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
					<a ui-sref="{{item.state}}">
						<span class="text-center">
							<i ng-if="item.state == 'addCase'" class="fa fa-plus d-inline-block align-top vertical-align">
							</i>
							<i ng-if="item.state == 'main'" class="fa fa-home d-inline-block align-top vertical-align">
							</i>
							{{item.title}}
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
