@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

$primary-color: #03A9F4;
$padding-b: calc(100% - 16px);
$duration: .3s;
$radius: 5px;
$background-color: #F0F0F0;

html {
	height: 100%;
}

body {
	background: $background-color;
	height: 100%;
}

button:focus {
	outline: none;
}

button:hover {
	opacity: .8;
}

.fa {
	font-size: 20px;
}

.fa-info {
	color: white;
}

.card {
	background: white;
}

.mc-transtition {
	-webkit-transition: all $duration;
	-moz-transition: all $duration;
	-ms-transition: all $duration;
	-o-transition: all $duration;
	transition: all $duration;
}

.card-container{
	max-height: 400px;
}

.border-radius-bottom {
  -webkit-border-radius: 0 0 $radius $radius;
	 -moz-border-radius: 0 0 $radius $radius;
		  border-radius: 0 0 $radius $radius;
}

.border-radius-top {
  -webkit-border-radius: $radius $radius 0 0;
	 -moz-border-radius: $radius $radius 0 0;
		  border-radius: $radius $radius 0 0;
}

.material-card {
	@extend .border-radius-top;
	position: relative;
	margin-bottom: 2.0em;
	max-width: 350px;
	height: 400px;
	h2 {
		@extend .border-radius-top;
		width: 100%;
		padding: 10px 16px;
		color: #fff;
		font-size: 1.4em;
		line-height: 1.6em;
		margin: 0;
		z-index: 10;
		span {
			display: block;
		}
		strong {
			font-weight: 400;
			display: block;
			font-size: .8em;
		}
	}
	p {
		padding: 10px 16px;
	}
}


.material-card.light-blue h2 {
	background-color: $primary-color;
}

.light-blue-button{
	@extend .border-radius-bottom;
	background-color: $primary-color;
	padding: 10px 16px;
	color: #fff;
	font-size: 1.4em;
	line-height: 1.6em;
	margin: 0;
}


.bottomaligned{
	position:absolute; bottom:0;  margin-bottom:7px; left: 0;
}
