<div class="container-fluid cards-row">
	<div class="row">
		<div class="col-md-6 col-lg-4 col-sm-6" ng-repeat="task in $ctrl.tasks">
			<div class="thumbnail center-block">
				<div class="thumbnail-header text-center">
					<h4 class="pagination-centered">{{task.title}}</h4>
				</div>
				<div class="thumbnail-body">
					<div ng-bind-html="task.body"></div>
				</div>
				<div class="btn btn-primary bottom-aligned light-blue-button" ng-click="$ctrl.display_milestone(task)">Milestone</div>
			</div>
		</div>
	</div>
</div>
