@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

$primary-color	  : #03A9F4;
$padding-b		  : calc(100% - 16px);
$duration		  : .3s;
$radius           : 5px;
$background-color : #F0F0F0;
$white-color	  : #FFF;
$text-color       : #606060;
$margin-botton	  : 20px;
$max-width 		  : 350px;
$thumbnail-height : 375px;

html {
	height: 100%;
}

body {
	background: $background-color;
	height: 100%;
}

.fa {
	font-size: 18px;
}

.border-radius-bottom {
  -webkit-border-radius: 0 0 $radius $radius;
	 -moz-border-radius: 0 0 $radius $radius;
		  border-radius: 0 0 $radius $radius;
}

.border-radius-top {
  -webkit-border-radius: $radius $radius 0 0;
	 -moz-border-radius: $radius $radius 0 0;
		  border-radius: $radius $radius 0 0;
}

.border-radius-none {
  -webkit-border-radius: 0;
	 -moz-border-radius: 0;
		  border-radius: 0;
}


.cards-row{
	padding-top:40px;
	padding-bottom: $margin-botton;
}

.thumbnail{
	max-width: $max-width;
	height: $thumbnail-height;
	padding:0;
	border:none;
	box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
}

.thumbnail-header{
	background-color: $primary-color;
	width: 100%;
	height: 17.5%;
	padding: 5px 5px;
	color: $white-color;
	font-size: 1.4em;
	line-height: 1.6em;
	width:100%;
	display:block;
}

.light-blue-button{
	@extend .border-radius-none;
	background-color: $primary-color;
	padding: 10px 16px;
	color: $white-color;
	font-size: 1.4em;
	line-height: 1.6em;
	margin: 0;
}

.thumbnail-body{
	height: 65%;
	padding: 10px 16px;
}

.bottom-aligned{
	@extend .thumbnail-header;
}

/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
